<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @nflplayer.name %>
</p>

<p>
  <b>Position:</b>
  <%= @nflplayer.position %>
</p>

<p>
  <b>Picurl:</b>
  <%= @nflplayer.picurl %>
</p>

<p>
  <b>Wk1opp:</b>
  <%= @nflplayer.wk1opp %>
</p>

<p>
  <b>Wk2opp:</b>
  <%= @nflplayer.wk2opp %>
</p>

<p>
  <b>Wk3opp:</b>
  <%= @nflplayer.wk3opp %>
</p>

<p>
  <b>Wk4opp:</b>
  <%= @nflplayer.wk4opp %>
</p>

<p>
  <b>Wk5opp:</b>
  <%= @nflplayer.wk5opp %>
</p>

<p>
  <b>Wk6opp:</b>
  <%= @nflplayer.wk6opp %>
</p>

<p>
  <b>Wk7opp:</b>
  <%= @nflplayer.wk7opp %>
</p>

<p>
  <b>Wk1field:</b>
  <%= @nflplayer.wk1field %>
</p>

<p>
  <b>Wk2field:</b>
  <%= @nflplayer.wk2field %>
</p>

<p>
  <b>Wk3field:</b>
  <%= @nflplayer.wk3field %>
</p>

<p>
  <b>Wk4field:</b>
  <%= @nflplayer.wk4field %>
</p>

<p>
  <b>Wk5field:</b>
  <%= @nflplayer.wk5field %>
</p>

<p>
  <b>Wk6field:</b>
  <%= @nflplayer.wk6field %>
</p>

<p>
  <b>Wk7field:</b>
  <%= @nflplayer.wk7field %>
</p>

<p>
  <b>Team:</b>
  <%= @nflplayer.team %>
</p>

<p>
  <b>Wk1points:</b>
  <%= @nflplayer.wk1points %>
</p>

<p>
  <b>Wk2points:</b>
  <%= @nflplayer.wk2points %>
</p>

<p>
  <b>Wk3points:</b>
  <%= @nflplayer.wk3points %>
</p>

<p>
  <b>Wk4points:</b>
  <%= @nflplayer.wk4points %>
</p>

<p>
  <b>Wk5points:</b>
  <%= @nflplayer.wk5points %>
</p>

<p>
  <b>Wk6points:</b>
  <%= @nflplayer.wk6points %>
</p>

<p>
  <b>Wk7points:</b>
  <%= @nflplayer.wk7points %>
</p>


<%= link_to 'Edit', edit_nflplayer_path(@nflplayer) %> |
<%= link_to 'Back', nflplayers_path %>
